<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        {% for folder in subfolders %}
            <li>
                <a href="{% url 'subfolder_list' folder.id %}">{{ folder.name }}</a>
            </li>
        {% endfor %}
    </ul>
    
    {% if parent_id %}
        <a href="{% url 'create_folder_with_parent' parent_id=parent_id %}">Create New Folder</a>
    {% else %}
        <a href="{% url 'create_folder' %}">Create New Folder</a>
    {% endif %}
    

</body>

</html>